* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-out;
}
ul {
  list-style: none;
}
header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/home_bg.jpg) center center/cover;
  height: 100vh;
}
nav {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 7%;
}
nav img {
  width: 150px;
  transition: all 0.3s ease-out;
}
nav img:hover {
  transform: scale(1.3);
}
nav ul {
  text-transform: capitalize;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav ul li a {
  font-size: 20px;
}
nav ul li a:hover {
  transform: translateY(5px);
  padding-bottom: 5px;
  color: orange;
  border-bottom: 2px solid gold;
}
.info {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2;
  text-align: center;
}
.info h1 {
  text-transform: capitalize;
  font-size: 50px;
  color: white;
}
.info span {
  color: gold;
}
.info p {
  color: white;
  font-size: 20px;
}
.info a {
  margin-top: 30px;
  border: 2px white solid;
  border-radius: 20px;
  padding: 10px 40px;
}
.info a:hover {
  background-color: gold;
  color: black;
  border: 2px transparent solid;
}
.history img {
  transition: all 0.4s ease;
  filter: drop-shadow(3px 3px 5px #000);
}
.history img:hover {
  transform: translateY(-10px);
  filter: drop-shadow(5px 5px 10px #000);
}
.about {
  padding: 50px 0;
  background-color: rgba(230, 230, 250, 0.411);
}
.about-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2;
  margin-bottom: 30px;
}
.about-head h2 {
  text-transform: capitalize;
  font-size: 45px;
  text-align: center;
}
.about-head p {
  color: #888686;
}
.history {
  width: 90%;
  margin: auto;
  display: flex;
  gap: 50px;
}
.left p {
  color: #888686;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 40px;
}
.left a {
  text-transform: uppercase;
  background-color: #525151;
  border-radius: 20px;
  padding: 20px 30px;
}
.left a:hover {
  color: black;
  border: gold 1px solid;
  background-color: gold;
}
.offers {
  background: url(images/offer-background.jpg) center center/cover;
  padding: 50px 0;
}
.offers-head {
  text-align: center;
  line-height: 2;
  margin-bottom: 50px;
}
.offers-head h3 {
  font-size: 40px;
  text-transform: capitalize;
  color: gold;
}
.offers-head p {
  color: #fff;
  font-weight: 500;
}
.dishes {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-areas: "dish1 dish2 dish3";
}
.dish1 {
  grid-area: dish1;
}
.dish2 {
  grid-area: dish2;
}
.dish3 {
  grid-area: dish3;
}
.dish {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  line-height: 2;
  color: white;
  transition: all 0.3s ease-out;
  filter: drop-shadow(5px 5px 10px #000);
}
.dish:hover {
  transform: translateY(-10px);
}
.dish h3 {
  font-size: 22px;
}
.dish p {
  width: 90%;
}
.dish span {
  margin-left: 5px;
  color: gold;
}
.dish del {
  color: gray;
}
.dish img {
  width: 200px;
}
.menu {
  padding: 5% 0;
  background-color: beige;
}
.menu-head {
  line-height: 2;
  margin-bottom: 50px;
  text-align: center;
}
.menu-head h4 {
  font-size: 45px;
  text-transform: capitalize;
}
.menu-head p {
  font-size: 20px;
  color: #888686;
}
.mini-menu {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 50px;
}
.left-menu,
.right-menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.food {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.food:hover {
  transform: translateY(-5px);
}
.food .img,
.img img {
  margin-right: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
}
.img .overlay {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffd9004f;
  opacity: 0;
  transition: all 0.5s ease-out;
}
.img .overlay:hover {
  opacity: 1;
}
.spbe {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed rgb(197, 195, 195);
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.spbe h4 {
  text-transform: uppercase;
}
.spbe span {
  color: gold;
  font-weight: bolder;
}
.text p {
  max-width: 70%;
}
.menu a {
  display: block;
  text-transform: uppercase;
  width: 20%;
  justify-self: center;
  background-color: goldenrod;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}
.menu a:hover {
  background-color: black;
  color: gold;
}
.time {
  align-items: center;
  padding: 5% 0;
  background: url(images/daytime_bg.jpeg) center center/cover;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}
.time div {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.time div:hover {
  transform: scale(1.1);
}
.time div img {
  margin-bottom: 20px;
}
.time div h5 {
  font-size: 25px;
  font-weight: 500;
}
.gallery {
  background: url(images/offer-background.jpg) center/cover;
  padding: 10% 0;
  text-align: center;
  color: white;
}
.gallery h5 {
  font-size: 35px;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.galleries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  gap: 20px;
}
.galleries img {
  border-radius: 20px;
  width: 30%;
  height: 40vh;
  filter: brightness(50%);
  transition: all 0.3s ease-in-out;
}
.galleries img:hover {
  filter: brightness(100%);
  transform: scale(1.02);
}
.mini-footer {
  background-color: rgba(230, 230, 250, 0.411);
  padding: 10% 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.information {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}
.infor {
  line-height: 1.5;
}
.infor h6 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 15px;
}
.infor p {
  color: #888686;
}
.address i {
  color: gold;
}
.icons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.social a {
  display: inline-block;
  font-size: 20px;
  padding: 7px;
  background-color: #1e272e;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.social a:hover {
  background-color: gold;
  color: black;
  transform: translateY(-3px);
}
.contact {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.contact input,
textarea {
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.3);
  border: 1px transparent solid;
  width: 80%;
  height: 8vh;
  margin-bottom: 20px;
  transition: all 0.5s ease-in-out;
}
textarea {
  height: 20vh;
}
.contact input:focus,
.contact textarea:focus {
  outline: 0;
  background-color: gold;
  color: black;
  width: 90%;
}
.contact a {
  text-transform: uppercase;
  width: 40%;
  justify-self: center;
  background-color: goldenrod;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}
.contact a:hover {
  background-color: black;
  color: gold;
}
footer {
  background-color: #1e272e;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  color: white;
  font-weight: 400;
  font-size: 20px;
}
footer span {
  color: white;
  font-weight: bolder;
  font-size: 22px;
}
@media (max-width: 800px) {
  nav {
    flex-direction: column;
    gap: 30px;
    padding: 1% 2%;
  }
  nav ul {
    width: 100%;
  }
  nav ul li a {
    font-size: 17px;
  }
  .info h1 {
    font-size: 25px;
    font-weight: 500;
  }
  .about-head h2 {
    font-weight: 500;
  }
  .dishes {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .offers-head h3 {
    font-size: 30px;
  }
  .menu-head h4 {
    font-size: 30px;
  }
  .mini-menu {
    display: flex;
    flex-direction: column;
  }
  .menu a {
    width: 70%;
  }
  .time {
    display: flex;
    flex-direction: column;
  }
  .galleries {
    display: flex;
    flex-direction: column;
  }
  .galleries img {
    width: 80%;
    margin: auto;
    height: 40vh;
  }
  .mini-footer {
    display: flex;
    flex-direction: column;
  }
  .contact a {
    width: 60%;
  }
  footer p {
    font-size: 13px;
  }
  footer span {
    font-size: 15px;
  }
}
@media (min-width: 500px) and (max-width: 800px) {
  nav ul li a {
    font-size: 22px;
  }
  .info h1 {
    font-size: 30px;
  }
  .info p {
    font-size: 22px;
  }
  .dishes {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .dish {
    width: 45%;
  }
  .dish3 {
    margin: auto;
  }
  .time {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .time div {
    width: 45%;
  }
  .galleries {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .galleries img {
    width: 45%;
    margin: auto;
    height: 40vh;
  }
}
@media (max-width: 1070px) {
  .about img {
    display: none;
  }
  .left {
    text-align: center;
  }
}
